@import '../../variables';
@import '../../animation';

.badge {
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    background-color: green;
    background-color: $secondary-hover-clr;
    color: $primary-hover-clr;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -25px;
    animation: bounce-in-fwd 1.1s both;
}