// colors
$primary-clr: rgb(255, 105, 0);
$primary-hover-clr: rgb(207, 90, 7);
$secondary-clr: rgb(255, 240, 230);
$secondary-hover-clr: rgb(255, 210, 179);
$subtitle-clr: rgb(97, 98, 102);
$text-light-clr: rgb(140, 146, 158);
$btn-standart-clr: rgb(243, 243, 247);
$btn-standart-hover-clr: rgb(227, 227, 231);
$active-btn-clr: rgb(122, 54, 4);